## 常规忽略列表
#################################################################################
/.settings
/.classpath
/.project
/.externalToolBuilders
/.buildpath
/.idea
/.vscode
/*.iml
/*.iws

## 一些系统生成的临时文件
#################################################################################
Thumbs.db
.DS_Store
~$*.doc

## nodejs 相关的一些忽略
#################################################################################
# /node_modules
/package-lock.json

## 开发过程中的忽略列表
#################################################################################
/*.log
/logs/*.*
/config/runtime.json
/target
/dist
/static
/webpack-stats.json
